@model National_Park_Blog.Models.Blog_Content
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="/CSS/DetailsStyle.css" rel="stylesheet" />
    <link href="/CSS/FormsStyle.css" rel="stylesheet" />
</head>
<body>

<h4>Create a New Blog Entry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" class="FormsStyle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Title: </label>
                <input asp-for="BlogContentName" class="form-control" />
                <span asp-validation-for="BlogContentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Content: </label>
                <input asp-for="BlogContentText" class="form-control" />
                <span asp-validation-for="BlogContentText" class="text-danger"></span>
            </div>
            <div class="rating">
                <label>Review Rating: </label>
                <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
                <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
                <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
                <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
                <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
            </div>
            <div class="form-group">
                <input id="createButton" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
