@model National_Park_Blog.Models.Blog_Content
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="/CSS/DetailsStyle.css" rel="stylesheet" />
</head>
<body>
    <h1>Blog Entries</h1>

    <div id="blogEntriesPage">

        <h2>@Model.NationalParkId</h2>
        <p>@Model.BlogContentName</p>
        <p>@Model.BlogContentText</p>
        <p>@Model.BlogContentDate</p>

        <br />
        <br />
        <a href="/Blog_Content_/Update/@Model.NationalParkId">Edit Review</a>
        <br />
        <a href="/Blog_Content_/Delete/@Model.NationalParkId">Remove Review</a>
        <br />
        <a href="NationalPark/Details/@Model.NationalParkId">Return to the Main Listing</a>

    </div>
</body>
</html>
