@model National_Park_Blog.Models.Blog_Content
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="/CSS/DetailsStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="FormsStyle">
        <div>
            <h1>Blog Entries</h1>
            <h2>@Model.BlogContentName</h2>
            <p>@Model.BlogContentText</p>
            <p>@Model.BlogContentDate</p>
            <br />
            <a href="/Blog_Content_/Update/@Model.Id">Edit Review</a>
            <br />
            <a href="/Blog_Content_/Delete/@Model.Id">Remove Review</a>
            <br />
            <a href="/NationalParks/Index/">Return to All Blogs Page</a>
        </div>
    </div>
</body>
</html>
