@model IEnumerable<National_Park_Blog.Models.Blog_Content>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="/CSS/IndexStyle.css" rel="stylesheet" />
</head>
<body>
    <h1>Blog Entries</h1>
    <section>
        <div> id="posts">

            @foreach (var blogContent in Model)
            {
                <article>
                    <h2>@blogContent.BlogContentName</h2>
                    <p>@blogContent.BlogContentText</p>
                    <p>@blogContent.BlogContentDate</p>
                    <a href="National_Park/Details/@blogContent.Id">Return to the main listing</a>
                </article>
            }
        </div>
    </section>
</body>
</html>
