@model National_Park_Blog.Models.Blog_Content
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
        ViewData["Title"] = "Update";
}

<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update Blog Content</title>
    <link href="/CSS/FormsStyle.css" rel="stylesheet" />
</head>


    <div class="row">
        <div class="col-md-4">
            <form asp-action="Update" class="FormsStyle">
                <h1>Update</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="BlogContentName" class="control-label"></label>
                    <input asp-for="BlogContentName" class="form-control" />
                    <span asp-validation-for="BlogContentName" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="BlogContentText" class="control-label"></label>
                    <input asp-for="BlogContentText" class="form-control" />
                    <span asp-validation-for="BlogContentText" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="BlogContentDate" class="control-label"></label>
                    <input asp-for="BlogContentDate" class="form-control" />
                    <span asp-validation-for="BlogContentDate" class="text-danger"></span>
                </div>*@
                @*<div class="form-group">
                    <label asp-for="NationalParkId" class="control-label"></label>
                    <select asp-for="NationalParkId" class="form-control" asp-items="ViewBag.NationalParkId"></select>
                    <span asp-validation-for="NationalParkId" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                     <input type="hidden" asp-for="NationalParkId" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
                <div>
                    <a href="/Blog_Content_/Details/@Model.Id"> Back to Blog Details</a>
                </div>
            </form>
        </div>
    </div>
